
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark" style="margin-top: 150px;">

  

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
      
          <!-- Grid row -->
          <div class="row mt-3">
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      
              <!-- Content -->
              <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px; color: #5D5560;">Packaging Simplified</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"  style="width: 60px;">
              <p class="bodycopy_footertext">Pack8 lets user define, design and procure all type of 
                packaging material for their business at affordable cost.
                </p>
                
                <!-- Twitter -->
                <a class="tw-ic" href=" https://www.linkedin.com/in/praveenshinde/">
                  <i class="fa fa-twitter white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic" href=" https://www.linkedin.com/in/praveenshinde/">
                  <i class="fa fa-google-plus white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic" href=" https://www.linkedin.com/in/praveenshinde/">
                  <i class="fa fa-linkedin white-text mr-4"> </i>
                </a>
                
      
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      
              <!-- Links -->
              <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px; color: #5D5560;">Industries</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a href="/industry" class="bodycopy_footer">E-commerce</a>
              </p>
              <p>
                <a href="/industry" class="bodycopy_footer">Fashion</a>
              </p>
              <p>
                <a href="/industry" class="bodycopy_footer">FMCG</a>
              </p>
              <p>
                <a href="/industry" class="bodycopy_footer">Pharmaceutical</a>
              </p>
              <p>
                <a href="/industry" class="bodycopy_footer">Food</a>
              </p>
              <p>
                <a href="/industry" class="bodycopy_footer">Luxury</a>
              </p>
              <p>
                <a href="/industry" class="bodycopy_footer">Logistic</a>
              </p>
              <p>
                <a href="/industry" class="bodycopy_footer">Container & Shipping</a>
              </p>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      
              <!-- Links -->
              <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px; color: #5D5560;">Useful links</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a href="#!" class="bodycopy_footer">blogs</a>
              </p>
              <p>
                <a href="contact.html" class="bodycopy_footer">Become a Supplier</a>
              </p>
              <p>
                <a href="contact.html" class="bodycopy_footer">Get Quote</a>
              </p>
              <p>
                <a href="contact.html" class="bodycopy_footer">Help</a>
              </p>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-md-0 mb-4 mt-0">
      
              <!-- Links -->
              <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px; color: #5D5560;">Contact</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p  class="bodycopy_footertext">
                <i class="fa fa-home mr-3"></i>Akshar Blue Chip IT park, 3rd Floor, Thane-Belapur Road, Turbhe MIDC, Navi Mumbai, Maharashtra 400705</p>
              <p class="bodycopy_footertext">
                <i class="fa fa-envelope mr-3"></i> reach@pack8.in</p>
              <p class="bodycopy_footertext">
                <i class="fa fa-phone mr-3"></i> +91 9819 349 616</p>
              
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-2 bodycopy_footertext" style="background:lightgrey;">OfficeDeck Technologies Private Limited© 2016 Copyright:
          
        </div>
        <!-- Copyright -->
      
      </footer>
    
    <!-- Footer -->