<!-- NAVIGATION BAR -->
<div  style="position:fixed; background-color: white; width: 100%; z-index: 10;">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div>
          <a href="/">
            <img class="navbar-brand" src="/assets/logo.png" style="size: 100%;">
          </a>
        </div>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" id="navOptions">
            
            
            
            
            <li class="nav-item  bodycopy-regular-navlink">
              <a class="nav-link mr-3 " href="/about" id="links">About
                <span class="sr-only" id="">(current)</span>
              </a>
            </li>
            <li class="nav-item bodycopy-regular-navlink">
              <a class="nav-link  mr-3" href="/team" id="links">Team
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item bodycopy-regular-navlink ">
              <a class="nav-link  mr-3"  href="/blogs" id="links">Blogs
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item bodycopy-regular-navlink" style="margin-right:50px;">
              <a class="nav-link " href="/industry" id="links" role="button">Industries</a>
            </li>
            

            <li class="nav-item active">
              <!-- <div class="btn btn-warning btn-custom "> -->
                <a href="/contact" class=" btn btn-custom">Contact us</a>
              <!-- </div> -->
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>

  <!-- <script>
  function highlight(a) {
  
    console.log('clicked')
    this.innerHTML=""
    
   }
   

  var links=document.querySelectorAll('#links')
  links.forEach(element => {
    element.onclick=highlight

  });
  
  </script> -->