<!-- NAVIGATION BAR -->
<div class="" style="position: fixed; background-color: white; width: 100%; z-index: 10;">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div>
          <a href="/">
            <img class="navbar-brand" src="assets/logo.png" style="size: 100%;">
          </a>
        </div>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" id="navOptions">
            
            
            <li class="nav-item active">
              
              <a class="nav-link bodycopy-regular mr-3" id=ourprocess href="#process">Our Process
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link bodycopy-regular mr-3" href="/about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link bodycopy-regular mr-3" href="/team">Team</a>
            </li>
            <li class="nav-item active" style="margin-right:50px;">
              <a class="nav-link bodycopy-regular" href="/industry">Industries</a>
            </li>

            <li class="nav-item active">
              <!-- <div class="btn btn-warning btn-custom "> -->
                <a href="/contact" class=" btn btn-custom">Contact us</a>
              <!-- </div> -->
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>