<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>about</title>

    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
	
<style>
.col-lg-3{max-width:80% !important;
margin: auto;}
</style>
	

  </head>

  <body>

    <!-- Navigation -->
    <div class="" style="position: fixed; background-color: white; width: 100%; z-index: 10;">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div>
            <a href="index.html">
              <img class="navbar-brand" src="assets/logo.png" style="size: 100%;">
            </a>
          </div>
  
  
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id="navOptions">
              <li class="nav-item active">
                <a class="nav-link bodycopy-regular" href="about.html">About
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link bodycopy-regular" href="team.html">Team</a>
              </li>
              <li class="nav-item active" style="margin-right:50px;">
                <a class="nav-link bodycopy-regular" href="industry.html">Industries</a>
              </li>
  
              <li class="nav-item active">
                <!-- <div class="btn btn-warning btn-custom "> -->
                  <a href="contact.html" class=" btn btn-custom">Contact us</a>
                <!-- </div> -->
              </li>
            </ul>
  
          </div>
        </nav>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container" align="center" style="padding-top: 10%;">

      <!-- Page Heading/Breadcrumbs -->
      

      <!-- Image Header -->
      <img class="img-fluid rounded mb-4" src="assets/about_hero.png" alt="">

      <!-- Marketing Icons Section -->
      <div class="row row1">
        <div class="col-lg-6">
          <h1 class="headline">We are determined towards upgrading packaging experience.</h1>
          
        </div>
        <div class="bodycopy col-lg-6">
           <p> Born in April 2016, Pack8 is a professional, simple, one-step, all-inclusive solution in the packaging industry. Pack8 specialises in endeavouring an extensive spectrum of innovative designs and services that intend to meet the customer's requirements. The stringent quality inspection guarantees that the services we render are impeccable and flawless. We aim to build merchandises that are ingenious, robust and cost-effective. Our vision is to create a packaging network by imbibing technology-enabled solutions which make packaging an innovative, uncomplicated and inexpensive affair. We have an all-embracing logistics and operations management team who at various points ensure to procure us a step closer to our aim. The Supply Chain management team of Pack8 is vaguely co-ordinated which warrants convenient distribution and delivery of items. Sometimes even in a day! With an inordinate vision to bridge the gap between the consumers and manufacturers, Pack8 is here to make your delivery process seamless and smooth.
            </p>
        </div>
      </div></div>
      <!-- /.row -->
<section id="section">
        <div id="feature-section">
		<div class="container">
	  <h1 align="center" class="title-blue" style="padding:20px;">Feature set that customers rely on </h1><br><br>
	  
	  <div class="row " style="padding:0px !important; -webkit-transform: skewY(4deg);
    transform: skewY(4deg);">
       
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 12about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  ISO Certified Products
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 17about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Safety Stock – Always Ready
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 15about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Very competitive Pricing
              </p>
              
            </div>
          </div>
        </div>
      
    
	
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 14about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Dedicated Key Account manager
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 10about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Online track of everything
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              
              <img class="card-img-top" src="assets/about feature icon/Asset 18about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  1 Day Delivery of all standard products
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 16about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Convenient Credit Period
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
            <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
                
                <img class="card-img-top" src="assets/about feature icon/Asset 11about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
              <div class="card-body">
                <p align="center" class="bodycopy-bold" style="font-size: 20px">
                    1% Annual Discount on Billing above 50 Lakhs
                </p>
                
              </div>
            </div>
          </div>
    </div> 
  </div>
</div>
</section>
    <!-- /.container -->

	
	
	
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark" style="margin-top: 150px;">

  

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
    
        <!-- Grid row -->
        <div class="row mt-3">
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
            <!-- Content -->
            <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Packaging Simplified</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Pack8 lets user define, design and procure all type of 
              packaging material for their business at affordable cost.
              </p>
              
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fa fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fa fa-google-plus white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic" href=" https://www.linkedin.com/in/praveenshinde/">
                <i class="fa fa-linkedin white-text mr-4"> </i>
              </a>
              
    
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Industries</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="industry.html">E-commerce</a>
            </p>
            <p>
              <a href="industry.html">Fashion</a>
            </p>
            <p>
              <a href="industry.html">FMCG</a>
            </p>
            <p>
              <a href="industry.html">Pharmaceutical</a>
            </p>
            <p>
              <a href="industry.html">Food</a>
            </p>
            <p>
              <a href="industry.html">Luxury</a>
            </p>
            <p>
              <a href="industry.html">Logistic</a>
            </p>
            <p>
              <a href="industry.html">Container & Shipping</a>
            </p>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Useful links</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">blogs</a>
            </p>
            <p>
              <a href="contact.html">Become a Supplier</a>
            </p>
            <p>
              <a href="contact.html">Get Quote</a>
            </p>
            <p>
              <a href="contact.html">Help</a>
            </p>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <!-- Links -->
            <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fa fa-home mr-3"></i>Akshar Blue Chip IT park, 3rd Floor, Thane-Belapur Road, Turbhe MIDC, Navi Mumbai, Maharashtra 400705</p>
            <p>
              <i class="fa fa-envelope mr-3"></i> reach@pack8.in</p>
            <p>
              <i class="fa fa-phone mr-3"></i> +91 9819 349 616</p>
            
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">OfficeDeck Technologies Private Limited© 2016 Copyright:
        
      </div>
      <!-- Copyright -->
    
    </footer>
  
  <!-- Footer -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

  </body>

</html>
