<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>
<style>
  .col-lg-3{max-width:80% !important;
  margin: auto;}
  </style>

  <body>

   

    <!-- Page Content -->
    <div class="container" align="center" style="padding-top: 10%;">

      <!-- Page Heading/Breadcrumbs -->
      

      <!-- Image Header -->
      <img class="img-fluid rounded mb-4" src="assets/about_hero.png" alt="">

      <!-- Marketing Icons Section -->
      <div class="row row1">
        <div class="col-lg-6">
          <h1 class="headline">We are determined towards upgrading packaging experience.</h1>
          
        </div>
        <div class="bodycopy col-lg-6">
           <p> Born in April 2016, Pack8 is a professional, simple, one-step, all-inclusive solution in the packaging industry. Pack8 specialises in endeavouring an extensive spectrum of innovative designs and services that intend to meet the customer's requirements. The stringent quality inspection guarantees that the services we render are impeccable and flawless. We aim to build merchandises that are ingenious, robust and cost-effective. Our vision is to create a packaging network by imbibing technology-enabled solutions which make packaging an innovative, uncomplicated and inexpensive affair. We have an all-embracing logistics and operations management team who at various points ensure to procure us a step closer to our aim. The Supply Chain management team of Pack8 is vaguely co-ordinated which warrants convenient distribution and delivery of items. Sometimes even in a day! With an inordinate vision to bridge the gap between the consumers and manufacturers, Pack8 is here to make your delivery process seamless and smooth.
            </p>
        </div>
      </div></div>
      <!-- /.row -->
<section id="section">
        <div id="feature-section">
		<div class="container">
	  <h1 align="center" class="title-blue" style="padding:20px;">Feature set that customers rely on </h1><br><br>
	  
	  <div class="row " style="padding:0px !important; -webkit-transform: skewY(4deg);
    transform: skewY(4deg);">
       
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 12about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  ISO Certified Products
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 17about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Safety Stock – Always Ready
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 15about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Very competitive Pricing
              </p>
              
            </div>
          </div>
        </div>
      
    
	
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 14about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Dedicated Key Account manager
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 10about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Online track of everything
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              
              <img class="card-img-top" src="assets/about feature icon/Asset 18about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  1 Day Delivery of all standard products
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
          <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
              <img class="card-img-top" src="assets/about feature icon/Asset 16about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
            <div class="card-body">
              <p align="center" class="bodycopy-bold" style="font-size: 20px">
                  Convenient Credit Period
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
            <div class="card h-100" style="border: 0px solid rgba(0,0,0,.125);">
                
                <img class="card-img-top" src="assets/about feature icon/Asset 11about_features.png" alt="" style="width: 70%; height: 70%; margin: auto;">
              <div class="card-body">
                <p align="center" class="bodycopy-bold" style="font-size: 20px">
                    1% Annual Discount on Billing above 50 Lakhs
                </p>
                
              </div>
            </div>
          </div>
    </div> 
  </div>
</div>
</section>
    <!-- /.container -->

	
	
    <%- include partials/footer.ejs %>


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

  </body>

</html>
