<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <!-- <link rel="stylesheet" href="css/progress.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>Pack8: Packaging simplified</title>
</head>

<body >

  <!-- NAVIGATION BAR -->
  <div class="" style="position: fixed; background-color: white; width: 100%; z-index: 10;">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div>
          <a href="index.html">
            <img class="navbar-brand" src="assets/logo.png" style="size: 100%;">
          </a>
        </div>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" id="navOptions">
            
            
            <li class="nav-item active">
              <a class="nav-link bodycopy-regular" href="about.html">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link bodycopy-regular" href="team.html">Team</a>
            </li>
            <li class="nav-item active" style="margin-right:50px;">
              <a class="nav-link bodycopy-regular" href="industry.html">Industries</a>
            </li>

            <li class="nav-item active">
              <!-- <div class="btn btn-warning btn-custom "> -->
                <a href="contact.html" class=" btn btn-custom">Contact us</a>
              <!-- </div> -->
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>
  <!-- svg animation -->
  
    <div class="container" >
    
      <div id="bodymovin"></div>
    
    </div>
  

  <!-- DIAGONAL BLUE             -->
  <div class="diagonal-blue">

    <div class="a">
      <h1 class="title-white">Our Happy customers</h1>
    </div>

  </div>

  <!-- new clientele -->


  
  <!------ Include the above in your HEAD tag ---------->



<!-- clientele -->


  <div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
      <div class="carousel-inner row w-100 mx-auto" role="listbox">
        <div class="carousel-item col-md-3  active">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 1" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c12Artboard 1.png" alt="slide 1">
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-3 ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 3" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c11Artboard 1.png" alt="slide 2">
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-3 ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 4" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c10Artboard 1.png" alt="slide 3">
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-3 ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 5" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c9Artboard 1.png" alt="slide 4">
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-3 ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 6" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c8Artboard 1.png" alt="slide 5">
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-3 ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 7" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c7Artboard 1.png" alt="slide 6">
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-3 ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 8" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c6Artboard 1.png" alt="slide 7">
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-3  ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 2" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c5Artboard 1.png" alt="slide 8">
              </a>
            </div>

          </div>
        </div>
        <div class="carousel-item col-md-3  ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 2" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c4Artboard 1.png" alt="slide 8">
              </a>
            </div>

          </div>
        </div>
        <div class="carousel-item col-md-3  ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 2" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c3Artboard 1.png" alt="slide 8">
              </a>
            </div>

          </div>
        </div>
        <div class="carousel-item col-md-3  ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 2" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c2Artboard 1.png" alt="slide 8">
              </a>
            </div>

          </div>
        </div>
        <div class="carousel-item col-md-3  ">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <a href="#" title="image 2" class="thumb">
                <img class="img-fluid mx-auto d-block" src="assets/clients/c1Artboard 1.png" alt="slide 8">
              </a>
            </div>

          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>









  <!-- idgaf -->



  <div id="feature-section" style="margin-top: 15%;" >
    <div class="container" align="center">


      <div class="row row1" >
        <div class="col-lg-6">
          <h1 class="headline">We are determined towards upgrading packaging experience.</h1>

        </div>
        <div class="bodycopy col-lg-6" style="-webkit-transform: skewY(4deg);
        transform: skewY(4deg); padding-top: 50px; align-items: center;">
          <p> Born in April 2016, Pack8 is a professional, simple, one-step, all-inclusive solution in the packaging industry.
            Pack8 specialises in endeavouring an extensive spectrum of innovative designs and services that intend to meet
            the customer's requirements. The stringent quality inspection guarantees that the services we render are impeccable
            and flawless. We aim to build merchandises that are ingenious, robust and cost-effective. Our vision is to create
            a packaging network by imbibing technology-enabled solutions which make packaging an innovative, uncomplicated
            and inexpensive affair. We have an all-embracing logistics and operations management team who at various points
            ensure to procure us a step closer to our aim. The Supply Chain management team of Pack8 is vaguely co-ordinated
            which warrants convenient distribution and delivery of items. Sometimes even in a day! With an inordinate vision
            to bridge the gap between the consumers and manufacturers, Pack8 is here to make your delivery process seamless
            and smooth.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- pack8 introduction -->
  

  <!-- process-start -->
  <section class="process_section" id="process">
    <h1 class="title-blue" style="margin-top: 10%;">A process companies appreciate</h1>
    <div class="p_background">
    
      <img class="blue_stroke" src="assets/process_strokes_blue.svg" alt="" style="position: relative; margin-bottom:200px; width: 100%;  ">
      
    
      <div class="p_cover_b1">
        <img class="p_image" src="assets/process_images/p1.png" alt="">
        <div class="p_info">
          <p class="bodycopy_process">We examine and analyse your products to get an in-depth knowledge of your requirements.</p>
        </div>
      </div>
      <div class="p_cover_b2">
        <img class="p_image " src="assets/process_images/p2.png" alt="">
        <div class="p_info">
          <p class="bodycopy_process">A contract is signed based on a mutually agreed upon rate and an annual PO.
          </p>
        </div>
      </div>
      <div class="p_cover_b3">
        <img class="p_image" src="assets/process_images/p3.png" alt="">
        <div class="p_info">
          <p class="bodycopy_process">Now your product is designed, developed and delivered to your said customers</p>
        </div>
      </div>
      <div class="p_cover_b4">
    
        <img class="p_image " src="assets/process_images/p4.png" alt="">
    
        <div class="p_info">
          <p class="bodycopy_process">A timely invoice is sent explaining you about the expenses every 15 days.</p>
        </div>
      </div>
      <div class="p_cover_b5">
        <img class="p_image" src="assets/process_images/p5.png" alt="">
        <div class="p_info">
          <p class="bodycopy_process">And we don’t stop even after the process ends. We can analyse expenses, packaging system and design in various ways.</p>
        </div>
      </div>
    </div>
    
  </section>

  <!-- benefits to sign up on -->


  <div class="container" style="margin-bottom: 70px !important; margin-top: 10%;">
    <div class="container-fluid">
      <div class="row row1">
        <div class="col-lg-4 mb-4">
          <div class="card_outer" >
            <div class="card_highlight">
              <h1 class="title_white_card" style="padding-top: 50px;">Reduce
                <br/>cost</h1>
            </div>
            <p class="card_text">We ought inexpensive warehousing and diminished material convention which channels to affordable pricing. Pack-out
              optimization and decreased freightage also contribute to reduced costs of our services.</p>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card_outer" style="height: 470px;">
            <div class="card_highlight">
              <h1 class="title_white_card" style="padding-top: 50px; font-size:45px;">Improve
                <br/>productivity</h1>
            </div>
            <p class="card_text">Pack8 aims to enhance business agility by streamlining supply chain management. We aspire to establish a hassle-free
              record of our services by simplifying order supervision.
            </p>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card_outer" >
            <div class="card_highlight">
              <h1 class="title_white_card" style="padding-top: 50px; ">Boost
                <br/>Sales</h1>
            </div>
            <p class="card_text">Pack8 has been particularly distinguished from its adversaries resulting in an extended interest of the customers.
              Aspiring to strengthen adherence by promoting trails, we have always admired to aid re-buying from our users.
            </p>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div id="feature-section">


    <div class="container">
      <div class=" row" style="-webkit-transform: skewY(4deg);
                                transform: skewY(4deg); padding-top: 50px; align-items: center;">
        <div class="col-lg-6">
          <img class="img-fluid" src="assets/custom_design_home.png" alt="">
        </div>
        <div class="col-lg-6">
          <h2 class="headline" style="text-align:left">Unique packaging solutions for your product</h2>
          <p class="bodycopy">Now showcase your uniqueness to the world by customising your boxes! Stand out from the crowd with packing designs
            that are mesmerising and eye-catching! Our highly efficient designers’ team is here to provide the exact customised
            packaging that you need for your unique industry. Choose from a plethora of ideas or introduce your own design
            to get it custom made by us! Affordable fares and great assistance simultaneously meeting your specifications
            with accelerated transmission at your doorstep.</p>
          
            <a href="contact.html" class=" btn btn-custom">Meet our design team</a>
          
        </div>
      </div>
    </div>


  </div>

  <!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="margin-top: 150px;">

  

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Packaging Simplified</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Pack8 lets user define, design and procure all type of 
            packaging material for their business at affordable cost.
            </p>
            
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href=" https://www.linkedin.com/in/praveenshinde/">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            
  
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Industries</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="industry.html">E-commerce</a>
          </p>
          <p>
            <a href="industry.html">Fashion</a>
          </p>
          <p>
            <a href="industry.html">FMCG</a>
          </p>
          <p>
            <a href="industry.html">Pharmaceutical</a>
          </p>
          <p>
            <a href="industry.html">Food</a>
          </p>
          <p>
            <a href="industry.html">Luxury</a>
          </p>
          <p>
            <a href="industry.html">Logistic</a>
          </p>
          <p>
            <a href="industry.html">Container & Shipping</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">blogs</a>
          </p>
          <p>
            <a href="contact.html">Become a Supplier</a>
          </p>
          <p>
            <a href="contact.html">Get Quote</a>
          </p>
          <p>
            <a href="contact.html">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i>Akshar Blue Chip IT park, 3rd Floor, Thane-Belapur Road, Turbhe MIDC, Navi Mumbai, Maharashtra 400705</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> reach@pack8.in</p>
          <p>
            <i class="fa fa-phone mr-3"></i> +91 9819 349 616</p>
          
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">OfficeDeck Technologies Private Limited© 2016 Copyright:
      
    </div>
    <!-- Copyright -->
  
  </footer>
  
  <!-- Footer -->
  


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $('#carouselExample').on('slide.bs.carousel', function (e) {


      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 4;
      var totalItems = $('.carousel-item').length;

      if (idx >= totalItems - (itemsPerSlide - 1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i = 0; i < it; i++) {
          // append slides to end
          if (e.direction == "left") {
            $('.carousel-item').eq(i).appendTo('.carousel-inner');
          } else {
            $('.carousel-item').eq(0).appendTo('.carousel-inner');
          }
        }
      }
    });


    $('#carouselExample').carousel({
      interval: 2000
    });


    $(document).ready(function () {
      /* show lightbox when clicking a thumbnail */
      $('a.thumb').click(function (event) {
        event.preventDefault();
        var content = $('.modal-body');
        content.empty();
        var title = $(this).attr("title");
        $('.modal-title').html(title);
        content.html($(this).html());
        $(".modal-profile").modal({
          show: true
        });
      });

    });
  </script>

  <script src="js/lottie.js"></script>
  <script src="js/script.js"></script>
</body>

</html>


