<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>


  <body>

    

    <!-- Page Content -->
    <div class="container" style="padding-top: 10%;">

      <!-- Page Heading/Breadcrumbs -->
      

      <!-- Image Header -->
	    <div class="row row1">
	  <div class="col-md-3"></div>
	  <div class="col-lg-12">
      <img class=" img-fluid rounded mb-4 img-center" src="assets/industry/fashion.png" alt="">
    <h2 class="text-center title-grey"> Fashion Packaging</h2>
    
	  <p class="text-center bodycopy">Make your brand look more stylish and fashionable with our formidable packaging designs.
      </p>
	  </div>
	  <div class="col-md-3"></div>
	  </div>
      

      <!-- Image Header -->
	    <div class="row row1">
        <div class="col-md-3"></div>
        <div class="col-lg-12">
          <img class=" img-fluid rounded mb-4 img-center" src="assets/industry/Asset 5E-COMM.png" alt="">
        <h2 class="text-center title-grey"> Ecommerce Packaging</h2>
        
        <p class="text-center bodycopy">Now setup your E-commerce business without worrying about your product packaging. We offer your products
           impressive and reliable packaging to build your brand.</p>
        </div>
        <div class="col-md-3"></div>
        </div>
	  
	   <!-- Image Header -->
     <div class="row row1">
      <div class="col-md-3"></div>
      <div class="col-lg-12">
        <img class=" img-fluid rounded mb-4 img-center" src="assets/industry/Asset 1pharma.png" alt="">
      <h2 class="text-center title-grey"> Pharmaceutical Packaging</h2>
      
      <p class="text-center bodycopy">We offer pharmaceutical packaging which consists of glass, rubbers, card board and metals and are designed on the basis degree of protection required for the material and optimal customer convenience.
        </p>
      </div>
      <div class="col-md-3"></div>
      </div>

	  <!-- Image Header -->
    <div class="row row1">
        <div class="col-md-3"></div>
        <div class="col-lg-12">
          <img class=" img-fluid rounded mb-4 img-center" src="assets/industry/Asset 2luxury.png" alt="">
        <h2 class="text-center title-grey">Luxury Packaging</h2>
        <p class="text-center bodycopy"> Now ensure that your luxury watches and fragrances reach your customers in a well-protected manner 
          whilst maintaining a certain class and craftsmanship. </p>
        </div>
        <div class="col-md-3"></div>
        </div>
      
      
      <!-- Image Header -->
        <div class="row row1">
      <div class="col-md-3"></div>
      <div class="col-lg-12">
        <img class=" img-fluid rounded mb-4 img-center" src="assets/industry/Asset 2food.png" alt="">
      <h2 class="text-center title-grey">Food Packaging</h2>
      <p class="text-center bodycopy"> Now ensure that your food products reach your hungry customers in healthy, hygienic and well protected manner.
        </p>
      </div>
      <div class="col-md-3"></div>
      </div>
      
      <!-- Image Header -->
        <div class="row row1">
      <div class="col-md-3"></div>
      <div class="col-lg-12">
        <img class=" img-fluid rounded mb-4 img-center" src="assets/industry/Asset 3logistic.png" alt="">
      <h2 class="text-center title-grey">Logistic Packaging</h2>
      <p class="text-center bodycopy"> Bulk supply of tertiary packaging, ensure convenience, affordability and product safety.</p>
      </div>
      <div class="col-md-3"></div>
      </div>


      
    <!-- Image Header -->
    <div class="row row1">
        <div class="col-md-3"></div>
        <div class="col-lg-12">
          <img class=" img-fluid rounded mb-4 img-center" src="assets/industry/Asset 1shipping.png" alt="">
        <h2 class="text-center title-grey">Container & shipping</h2>
        <p class="text-center bodycopy"> We offer need based smart warehousing solutions for large scale shipping consignment. We simplify your tertiary packaging woes for imports and exports. 
          </p>
        </div>
        <div class="col-md-3"></div>
        </div>

      <!-- Marketing Icons Section -->
      
      <!-- /.row -->

    </div>
	
	<section id="section">
    <div id="feature-section">
	  

      <div class="row" style="-webkit-transform: skewY(4deg);
      transform: skewY(4deg); padding-top: 50px; align-items: center;">
          <div class="col-lg-6">
            <img class="img-fluid" src="assets/Industries_page_custom.png" alt="">
          </div>
          <div class="col-lg-6">
            <h2 class="headline" style="text-align:left">Our package designers are committed towards your packaging needs.</h2>
            <p class="bodycopy">Showcase your uniqueness to the world by customising your boxes! Stand out from the crowd with packing designs that are mesmerising and 
              eye-catching! Our highly efficient designers’ team is here to provide the exact customised packaging that you
               need for your unique industry. Choose from a plethora of ideas or introduce your own design to get it custom 
               made by us! Affordable fares and great assistance simultaneously meeting your specifications with accelerated
                transmission at your doorstep.</p>
                <!-- <div class="btn btn-warning btn-custom "> -->
                    <a href="contact.html" class="btn-text btn  btn-custom">Get custom package quote</a>
            <!-- </div> -->
            
          </div>
      </div>
	  
	
    </div> 
</div>
</section>
	
<%- include partials/footer.ejs %>

    <!-- Bootstrap core JavaScript -->
  
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

</html>
