<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

  <body>

    
    <!-- Page Content -->
    <div class="container" align="center" style="padding-top: 10%;">

      
      

      <!-- Image Header -->
      <img class="img-fluid rounded mb-4"  src="assets/team_hero.png" alt="">

      <!-- Marketing Icons Section -->
      <div class="row row1">
        <div class="col-lg-6" >
          <h1 class="headline ">“The key to achieve a successful business is to assemble a formidable and reliable team.”
            </h1>
          
        </div>
        <div class="col-lg-6">
           <p class="bodycopy"> At Pack8, these lines are not just something we randomly read, this is something we truly believe in. We as a team endeavour to operate synchronically and fortify the best results. Each individual's contribution is one victory point added to the team.
              The brownie point of Pack8 is the degree of adherence which is manifested by different teams on board while working together on a project. A formidable team for Operations Management makes the whole process streamline and in sync. Each team works in compliance with the opposite teams and vice versa. </p>
        </div>
      </div></div>
      <!-- /.row -->

    <div class="container">
	
		 <div class="row row1">
  <div class="col-md-3"></div>
  <div class="col-md-6"> <img class="img-fluid rounded ml-4" src="assets/team_profiles/profile.png" alt="">
  <br>
  <h1 align="center" class="title-blue">Praveen Shinde</h1>
  <h1 class="bodycopy-bold" align="center" > Founder and CEO</h1>
  <p class="text-center bodycopy-regular">
      An experience of over a decade in Customer Experience and Operations Management for Large Enterprises, and a will to bring a change, Praveen established Pack8  in 2016, with an aim of making packaging simpler than ever. Praveen went on to build a strong group of designers and managers to streamline the packaging process seamlessly.
      </p>

      
  
  <div class="row no-gutter">
  <div class="col" align="center"><a href="https://www.linkedin.com/in/praveenshinde/">
    <img class="img-fluid rounded mb-4" src="assets/social/Asset 1social handles.png" alt=""></a>
    </div>
 </div>
  </div>
  <div class="col-md-3"></div>

	
	<!-- <div class="row row1">
  
  <div class="col-sm-4"><img class="img-fluid rounded mb-4" src="assets/team_profiles/profile placeholder2.png" alt="">
  <br>
  <h1 align="center" class="title-blue">Praveen Shinde</h1>
  <p class="text-center">Nam suscipit convallis mollis. Fusce semper, orci in lacinia aliquet, enim neque scelerisque ex, at suscipit neque sapien ut ante. Quisque tellus urna, mollis in diam sit amet, pulvinar euismod velit. </p>
  <div class="row no-gutter">
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
</div>
  </div>
  
  <div class="col-sm-4"><img class="img-fluid rounded mb-4" src="assets/team_profiles/profile placeholder.png" alt="">
  <br>
  <h1 align="center" class="title-blue">Praveen Shinde</h1>
  <p class="text-center">Nam suscipit convallis mollis. Fusce semper, orci in lacinia aliquet, enim neque scelerisque ex, at suscipit neque sapien ut ante. Quisque tellus urna, mollis in diam sit amet, pulvinar euismod velit. </p>
  <div class="row no-gutter">
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
</div>
  </div>
  
  <div class="col-sm-4"><img class="img-fluid rounded mb-4" src="assets/team_profiles/profile placeholder1.png" alt="">
  <br>
  <h1 align="center" class="title-blue">Praveen Shinde</h1>
  <p class="text-center">Nam suscipit convallis mollis. Fusce semper, orci in lacinia aliquet, enim neque scelerisque ex, at suscipit neque sapien ut ante. Quisque tellus urna, mollis in diam sit amet, pulvinar euismod velit. </p>
  <div class="row no-gutter">
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
</div> -->
  </div>

  </div> 

	
	</div>
	
	
	 
    <!-- /.container -->

	
	
	
    <%- include partials/footer.ejs %>
    <!-- Bootstrap core JavaScript -->
       
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

</html>
