<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab" rel="stylesheet">
    <title>Team</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
	

  </head>

  <body>

    <!-- Navigation -->
    
    <div class="" style="position: fixed; background-color: white; width: 100%; z-index: 10;">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div>
            <a href="index.html">
              <img class="navbar-brand" src="assets/logo.png" style="size: 100%;">
            </a>
          </div>
  
  
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id="navOptions">
              <li class="nav-item active">
                <a class="nav-link bodycopy-regular" href="about.html">About
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link bodycopy-regular" href="team.html">Team</a>
              </li>
              <li class="nav-item active" style="margin-right:50px;">
                <a class="nav-link bodycopy-regular" href="industry.html">Industries</a>
              </li>
  
              <li class="nav-item active">
                <!-- <div class="btn btn-warning btn-custom "> -->
                  <a href="contact.html" class=" btn btn-custom" >Contact us</a>
                <!-- </div> -->
              </li>
            </ul>
  
          </div>
        </nav>
      </div>
    </div>
    <!-- Page Content -->
    <div class="container" align="center" style="padding-top: 10%;">

      
      

      <!-- Image Header -->
      <img class="img-fluid rounded mb-4"  src="assets/team_hero.png" alt="">

      <!-- Marketing Icons Section -->
      <div class="row row1">
        <div class="col-lg-6" >
          <h1 class="headline ">“The key to achieve a successful business is to assemble a formidable and reliable team.”
            </h1>
          
        </div>
        <div class="col-lg-6">
           <p class="bodycopy"> At Pack8, these lines are not just something we randomly read, this is something we truly believe in. We as a team endeavour to operate synchronically and fortify the best results. Each individual's contribution is one victory point added to the team.
              The brownie point of Pack8 is the degree of adherence which is manifested by different teams on board while working together on a project. A formidable team for Operations Management makes the whole process streamline and in sync. Each team works in compliance with the opposite teams and vice versa. </p>
        </div>
      </div></div>
      <!-- /.row -->

    <div class="container">
	
		 <div class="row row1">
  <div class="col-md-3"></div>
  <div class="col-md-6"> <img class="img-fluid rounded ml-4" src="assets/team_profiles/profile.png" alt="">
  <br>
  <h1 align="center" class="title-blue">Praveen Shinde</h1>
  <h1 class="bodycopy-bold" align="center" > Founder and CEO</h1>
  <p class="text-center bodycopy-regular">
      An experience of over a decade in Customer Experience and Operations Management for Large Enterprises, and a will to bring a change, Praveen established Pack8  in 2016, with an aim of making packaging simpler than ever. Praveen went on to build a strong group of designers and managers to streamline the packaging process seamlessly.
      </p>

      
  
  <div class="row no-gutter">
  <div class="col" align="center"><a href="https://www.linkedin.com/in/praveenshinde/">
    <img class="img-fluid rounded mb-4" src="assets/social/Asset 1social handles.png" alt=""></a>
    </div>
 </div>
  </div>
  <div class="col-md-3"></div>

	
	<!-- <div class="row row1">
  
  <div class="col-sm-4"><img class="img-fluid rounded mb-4" src="assets/team_profiles/profile placeholder2.png" alt="">
  <br>
  <h1 align="center" class="title-blue">Praveen Shinde</h1>
  <p class="text-center">Nam suscipit convallis mollis. Fusce semper, orci in lacinia aliquet, enim neque scelerisque ex, at suscipit neque sapien ut ante. Quisque tellus urna, mollis in diam sit amet, pulvinar euismod velit. </p>
  <div class="row no-gutter">
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
</div>
  </div>
  
  <div class="col-sm-4"><img class="img-fluid rounded mb-4" src="assets/team_profiles/profile placeholder.png" alt="">
  <br>
  <h1 align="center" class="title-blue">Praveen Shinde</h1>
  <p class="text-center">Nam suscipit convallis mollis. Fusce semper, orci in lacinia aliquet, enim neque scelerisque ex, at suscipit neque sapien ut ante. Quisque tellus urna, mollis in diam sit amet, pulvinar euismod velit. </p>
  <div class="row no-gutter">
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
</div>
  </div>
  
  <div class="col-sm-4"><img class="img-fluid rounded mb-4" src="assets/team_profiles/profile placeholder1.png" alt="">
  <br>
  <h1 align="center" class="title-blue">Praveen Shinde</h1>
  <p class="text-center">Nam suscipit convallis mollis. Fusce semper, orci in lacinia aliquet, enim neque scelerisque ex, at suscipit neque sapien ut ante. Quisque tellus urna, mollis in diam sit amet, pulvinar euismod velit. </p>
  <div class="row no-gutter">
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
  <div class="col" align="center"><img class="img-fluid rounded mb-4" src="img/ins.png" alt=""></div>
</div> -->
  </div>

  </div> 

	
	</div>
	
	
	 
    <!-- /.container -->

	
	
	
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark" style="margin-top: 150px;">

  

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
    
        <!-- Grid row -->
        <div class="row mt-3">
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
            <!-- Content -->
            <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Packaging Simplified</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Pack8 lets user define, design and procure all type of 
              packaging material for their business at affordable cost.
              </p>
              
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fa fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fa fa-google-plus white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic" href=" https://www.linkedin.com/in/praveenshinde/">
                <i class="fa fa-linkedin white-text mr-4"> </i>
              </a>
              
    
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Industries</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="industry.html">E-commerce</a>
            </p>
            <p>
              <a href="industry.html">Fashion</a>
            </p>
            <p>
              <a href="industry.html">FMCG</a>
            </p>
            <p>
              <a href="industry.html">Pharmaceutical</a>
            </p>
            <p>
              <a href="industry.html">Food</a>
            </p>
            <p>
              <a href="industry.html">Luxury</a>
            </p>
            <p>
              <a href="industry.html">Logistic</a>
            </p>
            <p>
              <a href="industry.html">Container & Shipping</a>
            </p>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Useful links</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">blogs</a>
            </p>
            <p>
              <a href="contact.html">Become a Supplier</a>
            </p>
            <p>
              <a href="contact.html">Get Quote</a>
            </p>
            <p>
              <a href="contact.html">Help</a>
            </p>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <!-- Links -->
            <h6 class=" font-weight-bold" style="font-family: Zilla Slab; font-weight: 900; font-size: 27px;">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fa fa-home mr-3"></i>Akshar Blue Chip IT park, 3rd Floor, Thane-Belapur Road, Turbhe MIDC, Navi Mumbai, Maharashtra 400705</p>
            <p>
              <i class="fa fa-envelope mr-3"></i> reach@pack8.in</p>
            <p>
              <i class="fa fa-phone mr-3"></i> +91 9819 349 616</p>
            
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">OfficeDeck Technologies Private Limited© 2016 Copyright:
        
      </div>
      <!-- Copyright -->
    
    </footer>
    
  
  <!-- Footer -->

    <!-- Bootstrap core JavaScript -->
       
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

</html>
