<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>
<section class="section" style="padding-top: 10%;">
<div class="container">
          <div class="row">
                <img class="m-auto col-lg-4" src="assets/thankyouguy.png" alt="">
                <h1 class="title-blue mx-auto col-lg-12">Thanks for contacting us,<br> We will get back to you shortly.</h1>
               
                    
                
          </div>
          
        
</div>



<%- include partials/footer.ejs %>